<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/courtney55">Courtney</a>. A web developer with the passion and skills to help people with all of the technical needs of their businesses.
  </p>
  <br />
  <p>
    She has a diverse background in business and biomedical studies that gives her the versatility desired to for a wide range of projects.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>
  

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Courtney Fink</h2>
      <br />
      <p>
        Courtney Fink is a a web developer with a background in HTML, CSS, Full Stack, and Ruby on Rails. She has experience with creating and designing web applications optimized for the user experience.
      </p>
    </div>
  </div>
  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />















